<p>Vous avez répondu à toutes les questions. A partir de vos réponses,
vous allez découvrir vos domaines de prédilection, que vous connaissiez
peut-être déjà, et d'autres auxquels vous n'aviez pas directement pensé...
Attention cependant, les résultats ne sont que des indications dont
l'objectif est de vous donner des pistes de réflexion pour travailler
sur vos compétences.</p>

