<h1>Bravo !</h1>
<img class="image-deco" src="/dc-theme/images/rapport.png">
<div class="col12">
<%= render :partial => "fin_questionnaire" %>
<p><%= link_to "Voir le rapport", :action => "rapport" %></p>
</div>