<div class='rapport'>
<p style="margin-top: 2em;"><a href="/">&lt;&lt;&lt; Retour</a></p>
  <h1>
    Exemple de rapport
  </h1>
  <img class='image-deco' src='/dc-theme/images/rapport-plein.png' />
  <ul>
    <li>
      Identifiant :
      <strong>
        Monsieur Test
      </strong>
    </li>
    <li>
      Questionnaire achevé le :
      <strong>
        06/03/2009 à 09h41
      </strong>
    </li>
  </ul>

  <h2>Carte des compétences clés</h2>
  <p>
    Ce graphique montre les tendances qui caractérisent vos compétences, les unes par rapport aux autres.
    Une compétence proche du centre est moins présente qu'une compétence proche de l'extérieur.
    Un graphique "rond" indique un certain équilibre dans vos domaines d'intérêt ou de compétence.
    Un graphique "épineux" indique que certaines compétences sont plus présentes que d'autres.
    <strong>

      Ce graphique de juge pas de ce qui est bien ou pas bien. Il vous aide seulement à connaître les compétences à développer.
    </strong>
  </p>
  <img alt="Ce graphique toile d'araignée montre les tendances qui caractérisent vos compétences" id='spider' src='/images/rapport.png' title='Carte des compétences clés' />
  <br />
  <h2>Compétences détaillées</h2>
  <p>
    <em>
      <img src='/images/star_on.png' style='display: inline; width: 12px; height: 12px; margin: 0; padding: 0;' />

      Votre niveau de maîtrise ou d'intérêt pour la compétence est indiqué par le nombre d'étoiles.
    </em>
  </p>
  <div class="competence" style="clear: both;">
  <h3>Communication en Français</h3>
  <p>La communication dans la langue maternelle est la faculté d’exprimer des pensées, sentiments et faits sous forme à la fois orale et écrite (écouter, parler, lire et écrire), et d’avoir des interactions linguistiques appropriées dans toutes les situations de la vie sociale et culturelle, dans l’éducation et la formation, au travail, dans la vie privée et pendant les loisirs. </p>
  <p class="commentaire">Pas de problème particulier dans ce domaine, vous ne semblez cependant pas être un littéraire chevroné.</p>
  <img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" />

  <p class="pasdaccord" id="pasdaccord_link_CEF">
    <a href="#" onclick="try {
new Effect.BlindDown(&quot;pasdaccord_CEF&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindDown(\&quot;pasdaccord_CEF\&quot;,{duration:0.5});'); throw e }; return false;">Je ne suis pas d'accord avec cette évaluation</a>
  </p>
  <div class="clear" style="font-size: 90%; font-style: italic;">
    <span id="self_eval_stars_CEF">
      
    </span>
  </div>

  <div class="selfevaluation" id="pasdaccord_CEF" style="display: none;">

    <p>A combien d'étoiles vous évaluez-vous pour la compétence <strong>Communication en Français</strong> ?</p>
    <a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CEF&amp;self_eval=0', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;">Zéro </a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CEF&amp;self_eval=1', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CEF&amp;self_eval=2', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CEF&amp;self_eval=3', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CEF&amp;self_eval=4', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CEF&amp;self_eval=5', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a>
    <div class="clear"></div>
    <input onclick="try {
new Effect.BlindUp(&quot;pasdaccord_CEF&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindUp(\&quot;pasdaccord_CEF\&quot;,{duration:0.5});'); throw e };" type="button" value="Annuler" />
  </div>
</div>

  <div class="competence" style="clear: both;">
  <h3>Communication dans une langue étrangère</h3>
  <p>La communication en langue étrangère partage globalement les mêmes compétences de base que la communication dans la langue maternelle: elle s’appuie sur  l’aptitude à comprendre, exprimer et interpréter des pensées, des sentiments et des faits, sous  forme à la fois orale et écrite (écouter, parler, lire et écrire) dans diverses situations de la vie  en société, au travail, dans la vie privée, pendant les loisirs, dans le cadre de l’éducation et de  la formation, selon les désirs et les besoins. </p>
  <p class="commentaire">Vous semblez avoir quelques aptitudes en langues. Vous pouvez les mettre en valeur dans votre CV ou portfolio, en précisant pour chaque langue votre niveau de maîtrise.</p>
  <img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" />
  <p class="pasdaccord" id="pasdaccord_link_CLE">
    <a href="#" onclick="try {
new Effect.BlindDown(&quot;pasdaccord_CLE&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindDown(\&quot;pasdaccord_CLE\&quot;,{duration:0.5});'); throw e }; return false;">Je ne suis pas d'accord avec cette évaluation</a>

  </p>
  <div class="clear" style="font-size: 90%; font-style: italic;">
    <span id="self_eval_stars_CLE">
      
    </span>
  </div>

  <div class="selfevaluation" id="pasdaccord_CLE" style="display: none;">
    <p>A combien d'étoiles vous évaluez-vous pour la compétence <strong>Communication dans une langue étrangère</strong> ?</p>

    <a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CLE&amp;self_eval=0', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;">Zéro </a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CLE&amp;self_eval=1', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CLE&amp;self_eval=2', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CLE&amp;self_eval=3', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CLE&amp;self_eval=4', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CLE&amp;self_eval=5', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a>
    <div class="clear"></div>
    <input onclick="try {
new Effect.BlindUp(&quot;pasdaccord_CLE&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindUp(\&quot;pasdaccord_CLE\&quot;,{duration:0.5});'); throw e };" type="button" value="Annuler" />
  </div>
</div>

  <div class="competence" style="clear: both;">
  <h3>Culture mathématique</h3>
  <p>La culture mathématique est l’aptitude à se servir de l’addition, de la soustraction, de la  multiplication, de la division et des fractions, sous forme de calcul mental et par écrit, pour  résoudre divers problèmes de la vie quotidienne. L’accent est mis davantage sur le processus  et l’activité que sur le savoir. Les compétences mathématiques impliquent, à des degrés  différents, la capacité et la volonté d'utiliser des modes mathématiques de pensée (réflexion  logique et dans l'espace) et de représentation (formules, modèles, constructions,  graphiques/diagrammes). Les compétences scientifiques se réfèrent à la capacité et à la volonté d’employer les  connaissances et méthodologies utilisées pour expliquer le monde de la nature afin de poser  des questions et d’apporter des réponses étayées. La technologie est perçue comme  l’application de ces connaissances et de ces méthodologies pour répondre aux désirs et  besoins de l’homme. Ces deux domaines de compétences supposent une compréhension des  changements induits par l’activité humaine et de la responsabilité de tout individu en tant que  citoyen. </p>

  <p class="commentaire">Les maths vous sont un peu étrangères, n'est-ce pas ? On peut très bien vivre sans, mais sachez tout de même qu'elles sont parfois utiles dans la vie quotidienne...</p>
  <img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" />
  <p class="pasdaccord" id="pasdaccord_link_CUM">
    <a href="#" onclick="try {
new Effect.BlindDown(&quot;pasdaccord_CUM&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindDown(\&quot;pasdaccord_CUM\&quot;,{duration:0.5});'); throw e }; return false;">Je ne suis pas d'accord avec cette évaluation</a>
  </p>
  <div class="clear" style="font-size: 90%; font-style: italic;">
    <span id="self_eval_stars_CUM">
      
    </span>

  </div>

  <div class="selfevaluation" id="pasdaccord_CUM" style="display: none;">
    <p>A combien d'étoiles vous évaluez-vous pour la compétence <strong>Culture mathématique</strong> ?</p>
    <a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUM&amp;self_eval=0', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;">Zéro </a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUM&amp;self_eval=1', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUM&amp;self_eval=2', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUM&amp;self_eval=3', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUM&amp;self_eval=4', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUM&amp;self_eval=5', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a>
    <div class="clear"></div>
    <input onclick="try {
new Effect.BlindUp(&quot;pasdaccord_CUM&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindUp(\&quot;pasdaccord_CUM\&quot;,{duration:0.5});'); throw e };" type="button" value="Annuler" />

  </div>
</div>

  <div class="competence" style="clear: both;">
  <h3>Culture numérique</h3>
  <p>La culture numérique implique l’usage sûr et critique des technologies de la société de l’information (TSI) au travail, dans les loisirs et dans la communication. La condition préalable est la maîtrise des TIC : l’utilisation de l’ordinateur pour obtenir, évaluer,  stocker, produire, présenter et échanger des informations, et pour communiquer et participer  via l’Internet à des réseaux de collaboration. </p>
  <p class="commentaire">L'informatique ne vous rend pas allergique ! Vous semblez y porter un certain intérêt, sans être un chevronné. Pensez à ce que vous maîtrisez dans ce domaine, et en quoi cela peut s'appliquer aux besoins actuels pour l'emploi. Valorisez ceci dans votre CV ou votre portfolio.</p>
  <img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" />

  <p class="pasdaccord" id="pasdaccord_link_CUN">
    <a href="#" onclick="try {
new Effect.BlindDown(&quot;pasdaccord_CUN&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindDown(\&quot;pasdaccord_CUN\&quot;,{duration:0.5});'); throw e }; return false;">Je ne suis pas d'accord avec cette évaluation</a>
  </p>
  <div class="clear" style="font-size: 90%; font-style: italic;">
    <span id="self_eval_stars_CUN">
      Mon évaluation &nbsp;<img style="display: inline; vertical-align: middle; width: 12px; height: 12px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 12px; height: 12px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 12px; height: 12px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 12px; height: 12px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 12px; height: 12px;" src="/images/star_off.png" />
    </span>
  </div>

  <div class="selfevaluation" id="pasdaccord_CUN" style="display: none;">
    <p>A combien d'étoiles vous évaluez-vous pour la compétence <strong>Culture numérique</strong> ?</p>
    <a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUN&amp;self_eval=0', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;">Zéro </a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUN&amp;self_eval=1', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUN&amp;self_eval=2', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUN&amp;self_eval=3', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUN&amp;self_eval=4', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CUN&amp;self_eval=5', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a>
    <div class="clear"></div>
    <input onclick="try {
new Effect.BlindUp(&quot;pasdaccord_CUN&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindUp(\&quot;pasdaccord_CUN\&quot;,{duration:0.5});'); throw e };" type="button" value="Annuler" />
  </div>

</div>

  <div class="competence" style="clear: both;">
  <h3>Apprendre à apprendre</h3>
  <p>C'est l’aptitude à entreprendre et poursuivre un  apprentissage. L’individu devrait être capable d’organiser son propre apprentissage, de gérer  son temps et ses informations avec efficacité, tant isolément que collectivement. Il devrait  connaître ses propres méthodes d’apprentissage et ses besoins, les offres d’éducation et de  formation, et être capable de surmonter des obstacles afin d’accomplir son apprentissage avec  succès. Cela suppose acquérir, traiter et assimiler de nouvelles connaissances et aptitudes, et  chercher et utiliser des conseils. “Apprendre à apprendre” amène les apprenants à s’appuyer  sur les expériences d’apprentissage et de vie antérieures de manière à utiliser et appliquer les  nouvelles connaissances et aptitudes dans divers contextes - dans la vie privée et  professionnelle, dans le cadre de l’éducation et de la formation. La motivation et la confiance  dans sa propre capacité sont des éléments fondamentaux. </p>
  <p class="commentaire">Vous semblez peu conscient de l'intérêt d'apprendre à apprendre. Pourtant c'est très important. Il existe de nombreuses ressources pour s'informer, se former, se documenter. Essayer d'en parler avec la personne qui vous assiste dans votre parcours, afin de voir comment vous pouvez améliorer votre façon d'apprendre au quotidien.</p>
  <img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" />
  <p class="pasdaccord" id="pasdaccord_link_AAA">

    <a href="#" onclick="try {
new Effect.BlindDown(&quot;pasdaccord_AAA&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindDown(\&quot;pasdaccord_AAA\&quot;,{duration:0.5});'); throw e }; return false;">Je ne suis pas d'accord avec cette évaluation</a>
  </p>
  <div class="clear" style="font-size: 90%; font-style: italic;">
    <span id="self_eval_stars_AAA">
      
    </span>
  </div>

  <div class="selfevaluation" id="pasdaccord_AAA" style="display: none;">
    <p>A combien d'étoiles vous évaluez-vous pour la compétence <strong>Apprendre à apprendre</strong> ?</p>

    <a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=AAA&amp;self_eval=0', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;">Zéro </a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=AAA&amp;self_eval=1', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=AAA&amp;self_eval=2', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=AAA&amp;self_eval=3', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=AAA&amp;self_eval=4', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=AAA&amp;self_eval=5', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a>
    <div class="clear"></div>
    <input onclick="try {
new Effect.BlindUp(&quot;pasdaccord_AAA&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindUp(\&quot;pasdaccord_AAA\&quot;,{duration:0.5});'); throw e };" type="button" value="Annuler" />
  </div>
</div>

  <div class="competence" style="clear: both;">
  <h3>Compétences interpersonnelles, interculturelles et sociales</h3>
  <p>Ces compétences comprennent toutes les formes de comportement devant être  maîtrisées par un individu pour pouvoir participer de manière efficace et constructive à la vie  sociale et professionnelle, notamment dans des sociétés de plus en plus diversifiées, et pour  résoudre d’éventuels conflits. Les compétences civiques permettent à l’individu de participer  pleinement à la vie civique grâce à la connaissance des notions et structures sociales et  politiques et à une participation civique active et démocratique. </p>

  <p class="commentaire">Etes-vous un peu renfermé sur vous même ? Peu intéressé par ce qui se passe autour de vous ? C'est ce que semble indiquer vos réponse aux questions. Peut-être devriez-vous plus vous impliquer dans des associations ou autres formes de vie sociale.</p>
  <img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" />
  <p class="pasdaccord" id="pasdaccord_link_CIS">
    <a href="#" onclick="try {
new Effect.BlindDown(&quot;pasdaccord_CIS&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindDown(\&quot;pasdaccord_CIS\&quot;,{duration:0.5});'); throw e }; return false;">Je ne suis pas d'accord avec cette évaluation</a>
  </p>
  <div class="clear" style="font-size: 90%; font-style: italic;">
    <span id="self_eval_stars_CIS">
      
    </span>

  </div>

  <div class="selfevaluation" id="pasdaccord_CIS" style="display: none;">
    <p>A combien d'étoiles vous évaluez-vous pour la compétence <strong>Compétences interpersonnelles, interculturelles et sociales</strong> ?</p>
    <a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CIS&amp;self_eval=0', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;">Zéro </a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CIS&amp;self_eval=1', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CIS&amp;self_eval=2', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CIS&amp;self_eval=3', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CIS&amp;self_eval=4', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=CIS&amp;self_eval=5', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a>
    <div class="clear"></div>
    <input onclick="try {
new Effect.BlindUp(&quot;pasdaccord_CIS&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindUp(\&quot;pasdaccord_CIS\&quot;,{duration:0.5});'); throw e };" type="button" value="Annuler" />

  </div>
</div>

  <div class="competence" style="clear: both;">
  <h3>Esprit d’entreprise</h3>
  <p>L’esprit d’entreprise se réfère à l’aptitude d’un individu à passer des idées aux  actes. Il suppose de la créativité, de l’innovation et une prise de risques, ainsi que la capacité  de programmer et de gérer des projets en vue de la réalisation d’objectifs. Cette compétence  est un atout pour tout le monde dans la vie de tous les jours, à la maison et en société, pour les  salariés conscients du contexte dans lequel s'inscrit leur travail et en mesure de saisir les  occasions qui se présentent, et elle est le ferment de l’acquisition de qualifications et de  connaissances plus spécifiques dont ont besoin les chefs d’entreprise qui créent une activité  sociale ou commerciale. </p>
  <p class="commentaire">Vous semblez avoir un certain esprit d'entreprise, au sens du texte ci-dessus. Il semble que vous sachiez passer des idées aux actes. Essayer de voir chez vous ce qui peut justifier cela et être valorisé dans le CV ou le portfolio.</p>
  <img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" />

  <p class="pasdaccord" id="pasdaccord_link_EDE">
    <a href="#" onclick="try {
new Effect.BlindDown(&quot;pasdaccord_EDE&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindDown(\&quot;pasdaccord_EDE\&quot;,{duration:0.5});'); throw e }; return false;">Je ne suis pas d'accord avec cette évaluation</a>
  </p>
  <div class="clear" style="font-size: 90%; font-style: italic;">
    <span id="self_eval_stars_EDE">
      
    </span>
  </div>

  <div class="selfevaluation" id="pasdaccord_EDE" style="display: none;">

    <p>A combien d'étoiles vous évaluez-vous pour la compétence <strong>Esprit d’entreprise</strong> ?</p>
    <a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=EDE&amp;self_eval=0', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;">Zéro </a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=EDE&amp;self_eval=1', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=EDE&amp;self_eval=2', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=EDE&amp;self_eval=3', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=EDE&amp;self_eval=4', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=EDE&amp;self_eval=5', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a>
    <div class="clear"></div>
    <input onclick="try {
new Effect.BlindUp(&quot;pasdaccord_EDE&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindUp(\&quot;pasdaccord_EDE\&quot;,{duration:0.5});'); throw e };" type="button" value="Annuler" />
  </div>
</div>

  <div class="competence" style="clear: both;">
  <h3>Expression culturelle</h3>
  <p>Appréciation de l’importance de l’expression créatrice d’idées, d’expériences et  d’émotions sous diverses formes, la musique, les arts du spectacle, la littérature et les arts  visuels. </p>
  <p class="commentaire">Vous semblez avoir un certain intérêt pour l'expression culturelle de façon générale. Voyez précisément quelles de vos activités peuvent être valorisées pour votre vie professionnelle.</p>
  <img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_on.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" /><img style="display: inline; vertical-align: middle; width: 24px; height: 24px;" src="/images/star_off.png" />
  <p class="pasdaccord" id="pasdaccord_link_ECU">
    <a href="#" onclick="try {
new Effect.BlindDown(&quot;pasdaccord_ECU&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindDown(\&quot;pasdaccord_ECU\&quot;,{duration:0.5});'); throw e }; return false;">Je ne suis pas d'accord avec cette évaluation</a>

  </p>
  <div class="clear" style="font-size: 90%; font-style: italic;">
    <span id="self_eval_stars_ECU">
      
    </span>
  </div>

  <div class="selfevaluation" id="pasdaccord_ECU" style="display: none;">
    <p>A combien d'étoiles vous évaluez-vous pour la compétence <strong>Expression culturelle</strong> ?</p>

    <a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=ECU&amp;self_eval=0', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;">Zéro </a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=ECU&amp;self_eval=1', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=ECU&amp;self_eval=2', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=ECU&amp;self_eval=3', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=ECU&amp;self_eval=4', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a><a href="#" onclick="new Ajax.Request('/dc_session/self_evaluation?cc=ECU&amp;self_eval=5', {asynchronous:true, evalScripts:true, parameters:'authenticity_token=' + encodeURIComponent('5977eabfbb3555e07902bc11a876bd6663654426')}); return false;"><img style="display: inline; vertical-align: middle;" src="/images/star_off.png" /></a>
    <div class="clear"></div>
    <input onclick="try {
new Effect.BlindUp(&quot;pasdaccord_ECU&quot;,{duration:0.5});
} catch (e) { alert('RJS error:\n\n' + e.toString()); alert('new Effect.BlindUp(\&quot;pasdaccord_ECU\&quot;,{duration:0.5});'); throw e };" type="button" value="Annuler" />
  </div>
</div>

  <div style='clear: left;'></div>
</div>
